<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beautifourest.forestapp"
    android:versionCode="3"
    android:versionName="3.0">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 카메라 구동을 위한 퍼미션 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ImageViewActivity"></activity>
        <!-- 시작 화면 -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@android:style/Theme.NoTitleBar" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 로그인 화면, 회원 가입 화면 -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" /> <!-- 메인 화면 -->
        <activity
            android:name=".BookMainActivity"
            android:label="@string/title_activity_book_main" /> <!-- 사진 촬영을 위한 provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.beautifourest.forestapp.ui.mushroom.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>